################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UML Class Diagram/.COS214 Project.vpp.lck
/UML Class Diagram/COS214 Project.vpp.bak_000f
/UML Class Diagram/COS214 Project.vpp.bak_001d
/UML Class Diagram/COS214 Project.vpp.bak_002d
